
.list {
    display: flex;
    gap: 15px;
    color: white;
    
}

.box {
    background-image: image();
    background-color: aqua;
    display: flex;
    justify-content: right;
    height: 50vh;
    
}
.header {
    position:sticky;
    top: 0px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.logo {
    display: flex;
    width: 110px;
}
.h1 {
    display: flex;
    font-size: 80px;
    color: white;
    margin-left: 0%;
}

.box image {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px)
    .container-logo {
        width: 100%;
    }
    .list {
        width: 100%;
    }


@media (min-width: 412px)
